h1{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    margin:0px !important;
    font-size: 34px !important;
}

#name{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    margin:0px !important;
    font-size: 34px !important;
    text-align: center;
}

.headerWrap{
    text-align: center;
    padding: 0px;
    margin:0px;
    position:relative;
    bottom:5px;
}

#headerTeal {
    color:#4aaaa5;
    padding:20px 0px;
}

#headerTealBox {
    width:25%;
    height:100%;
    background-color:#4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    bottom:0px;
    left:0px;
    padding:60px 10px;
}

p {
    color:#777777;
    padding:0px 20px 20px 20px;
    margin:0px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: normal;
}

.pPicAlign {
    color:#777777;
    width:640px;
    padding:0px 20px 0px 0px;
    margin:0px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    left:300px;
}

#contentAreaHead {
    width:960px;
    height:100%;
    background-color: white;
    margin:auto;
    position: relative;
}

body{
    background-image: url("../images/gray_jean.png");
    width:100%;
    height:auto;
}

#menu {
    position: absolute;
    right:0px;
    top:35%;
}

#link{
    color:#777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}

#greyBar {
    background-color: #eeeeee;
    height:5px;
    width:920px;
    margin:auto;
    /* position: relative;
    left:20px; */
}

#contentAreaBody {
    border:1px solid #dddddd;
    width:960px;
    background-color: white;
    margin: 0px auto;
    padding: 0px 20px 20px;
    position: relative;
    top: 150px;
}

header {
    background-color: white;
    width:100%;
    height: 100px;
    margin:auto;
    border-bottom:2px solid #dddddd;
    position: absolute;
    top:0px;
    left:0px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:7.5%;
    color:#eeeeee;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#footerWrap{
    width:50px;
    text-align: center;
    position: fixed;
    bottom:0px;
    left:50%;
    margin-left: -25px;
}

#portrait {
    background-image: url("../images/portrait.jpg");
    width: 250px;
    height:300px;
    margin:0px 0px 20px 20px;
    position: absolute;
}

.portfolioPic {
    width:280px;
    height:200px;
    margin:20px;
    margin-top:5px;
    /* padding-left:20px; */
    display:inline-block;
}

.portfolioTealBar {
    width:280px;
    height: 40px;
    color:white;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    display:inline-block;
    background-color: #4aaaa5;
    position: relative;
    top:-50px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

form {
    margin:auto;
    width: 910px;
    /* position:relative;
    left:20px; */
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.inputBox {
    width: 910px;
    margin: 5px 0px;
    padding: 5px;
    border:1px solid #eeeeee;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    width:100px;
    height:30px;
    border:none;
}

#messageBox {
    width: 910px;
    margin:5px 0px;
    padding: 5px;
    height: 150px;
    resize: vertical;
    overflow:auto;
    border:1px solid #eeeeee;
}